*,
*::before,
*::after
    {box-sizing: border-box;}

body{
    margin: 0;
    background-color: #f6f9f9;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

/*===== header =====*/

.header__inner{
    display: flex;
    padding: 30px;
}


.tittle__logo{
    font-size: 30px;
    font-weight: 700;
    color: #2d3950;
    
    margin-left: 15px ;
}

/*===== content =====*/

.content__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    background: #767d8a url('/img/top-bcg.jpg') no-repeat;
    text-align: center;
    height: 800px;

    position: relative;
}

.content__nav{
    width: 100%;
    max-width: 615px;
    height: 300px;
    color: #fff;

    position: absolute;
    bottom: 320px;
}

.content__tittle{
    font-weight: 700;
    font-size: 120px;
    border-bottom: 2px solid #15a4fa ;
    
    padding-bottom: 15px ;
}

.content__info{
    font-weight: 400;
    font-size: 20px;

    margin-top: 30px;
    margin-bottom: 65px;
    
}

.content__btn a{
    width: 100%;
    max-width: 180px;
    height: 55px;
    border: 1px solid #15a4fa ;
    border-radius: 3px;


    font-weight: 400;
    font-size: 18px;
    color: #fff;

    text-decoration: none;

    padding: 15px 30px;

    transition-duration: .5s;
}

.content__btn a:hover{
    background-color: #15a4fa;
    font-size: 20px;
}

.arrow_down{
    position: absolute;
    top: 500px;
    right: 50%;
}


/*===== info__about =====*/
    
.info__inner{
    height: 680px;

    text-align: center;
}

.info__up{
    margin-top: 80px;
}

.info__tittle{
    margin-bottom: 30px;
    
    font-size: 40px;
    font-weight: 400;
    color: #2d3950;
}

.info__text{
    font-size: 20px;
    font-weight: 400;
    color: #9f9f9f;
    line-height: 30px;
}

/*===== info__down =====*/

.info__content{
    margin-top: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.icon--btn{
    
    margin-left: 75px;

    text-align: center;
}

.icon--btn:nth-child(1){
    margin: 0;
}

.info__img_content{
    margin: 0 auto;
}

.info__tittle_content{
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
    color: #2d3950;
}

.info__text_content{
    margin-top: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #9f9f9f;
}

/*===== slaider =====*/

.slaider{
    width: 100%;
    max-width: 1140px;
    height: 820px;
    
    margin-top: 20px;
    margin: 0 auto;
    
    text-align: center;
}

.slaider__block__up{
    margin-bottom: 80px;
}

.slaider__tittle{
    font-size: 40px;
    font-weight: 400;
    color: #2d3950;
}

.slaider__text{
    font-size: 15px;
    font-weight: 400;
    color: #9f9f9f;

    margin-top: 20px;
}


.slaider__block__down{
    display: flex;
    flex-wrap: wrap;
    
}

.slaider__item{
    margin: 10px;
}

/*===== intro-user =====*/

.intro-user{ 
}

.intro-content{
    height: 900px;
    text-align: center;
    background:rgba(45, 57, 80) url('/img/intro-user.jpg') center no-repeat; 
}

.intro-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: rgba(45, 57, 80, .9);
    width: 1600px;
    height: 900px;
}

.intro-menu-up{
    margin: 160px 0;
}

.menu-up-tittle{
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

.menu-up-text{
    font-size: 15px;
    font-weight: 400;
    color: #929294;
    margin: 25px 0;
}

.menu-up2, .menu-up3{
    margin: 15px 0;
}

input[type="text"], input[type="password"]{
    

    background: none;
    border: 1px solid #929294;
    border-radius: 4px;

    height: 60px;
    width: 550px;
    
}

textarea{
    background: none;
    border: 1px solid #929294;
    border-radius: 4px;

    width: 550px;
    height: 155px;
}

.container__menu__center{
    font-size: 15px;
    font-weight: 400;
    color: #929294;
}

.container__menu__form2{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.label_up4{
    display: flex;
}

.checkbox{
    display: none;
}

.fake{
    display: inline-block;
    background: #99a0a9;
    width: 18px;
    height: 18px;
    border: 1px solid none ;
    border-radius: 4px;
    position: relative;
}

.fake::before{
    content:'\2714';
    display: block;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%,-50% );
    
    
    width: 10px;
    height: 10px;
    border-radius: 2px;

    transition: .1s;
    opacity: 0;

}

.checkbox:checked + .fake::before{
    opacity: 1;
}

.fake__text{
    margin-left: 12px;

    color: #fff;
    font-size: 15px;
    font-weight: 400;
}



.menu-up5 input{
    background: none;
    border: 1px solid #15a4fa;
    border-radius: 4px;

    height: 50px;
    width: 150px;

    font-size: 18px;
    font-weight: 400;
    color: #fff;

    transition-duration: .5s;
}

.menu-up5 input:hover{
    background-color: #15a4fa;
}


/*===== footer =====*/

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 90px;
    margin: 0 220px;
    
}

.footer__content__left{
    font-size: 15px;
    font-weight: 400;
    color: #9f9f9f;
}
